{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{% block title %}Sportea{% endblock %}</title>
    <meta name="author" content="Patryk Gliszczynski">
    <meta name="description" content="Create, find, and join sport events which you want to!">
    <link rel="stylesheet" type="text/css" href="{% static 'tenis/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'tenis/css/style.css' %}" />
    {% block head %}
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Sportea</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            {% if user.is_authenticated %}
              <ul class="nav navbar-nav">
                {% block link_new_tournament %}
                  <li><a href="/tenis/new/">New Tournament</a></li>
                {% endblock %}
                {% block link_mytournaments %}
                  <li><a href="/tenis/mytournaments/">My Tournaments</a></li>
                {% endblock %}
                {% block link_mymatches %}
                  <li><a href="/tenis/mymatches/">My Matches</a></li>
                {% endblock %}
              </ul>
            {% endif %}
            <form class="navbar-form navbar-right">
              {% if user.is_authenticated %}
                <button type="submit" formaction="/accounts/logout" class="btn btn-default">Log Out</button>
              {% else %}
                <button type="submit" formaction="/accounts/login" class="btn btn-success">Log In</button>
                <button type="submit" formaction="/accounts/signup" class="btn btn-default">Sign Up</button>
              {% endif %}
            </form>
            {% if user.is_authenticated %}
              <p class="navbar-text navbar-right">{{user.first_name}} {{user.last_name}}</p>
            {% endif %}
          </div>
        </div>
      </nav>
    {% endblock %}

    {% block body %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    {% block script %}
    {% endblock %}
  </body>
</html>
