{% extends 'tenis/base.html' %}

{% block title %}Tenis{% endblock %}

{% block body %}
  {% if tournaments %}
    <div class="container">
      <div class="row">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search" aria-hidden="True"></span>
            </button>
          </span>
          <input type="text" class="form-control" placeholder="Find Tournament" />
        </div>
      </div>
      <div class="row margin-top-2">
        <div class="list-group">
          {% for tournament in tournaments %}
            <a href="{% url 'tournament_id' tournament_id=tournament.id %}" class="list-group-item">
              <h4 class="list-group-item-heading">{{tournament.name}}</h4>
              <p>{{tournament.datetime}}</p>
              <p>
                Free Places
                <span class="badge">{{tournament.participants_registered}}</span>
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% for page in pages %}
              {% if forloop.counter == current_page %}
                <li class="active"><a href="{% url 'current_page' forloop.counter %}">{{forloop.counter}} <span class="sr-only">(current)</span></a></li>
              {% else %}
                <li><a href="{% url 'current_page' forloop.counter %}">{{forloop.counter}} <span class="sr-only">(current)</span></a></li>
              {% endif %}
            {% endfor %}
            <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&laquo;</span></a></li>

          </ul>
        </nav>
      </div>
    </div>
  {% endif %}
{% endblock %}
