{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sportea{% endblock %}</title>
    <meta name="author" content="Patryk Gliszczynski">
    <meta name="description" content="Create, find, and join sport events which you want to!">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Sportea</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            {% if user.is_authenticated %}
              <button type="submit" formaction="/accounts/logout" class="btn btn-default">Log Out</button>
            {% else %}
              <button type="submit" formaction="/accounts/login" class="btn btn-success">Log In</button>
              <button type="submit" formaction="/accounts/signup" class="btn btn-default">Sign Up</button>
            {% endif %}
          </form>
          {% if user.is_authenticated %}
            <p class="navbar-text navbar-right">{{user.first_name}} {{user.last_name}}</p>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="bg"></div>
    <div class="jumbotron text-center">
      <h1>Sportea</h1>
      <p>Create. Join. Compete. Win.</p>
    </div>

    {% if sports %}
      <div class="container">
        <div class="row">
          <h1>Sports</h1>
        </div>
        <div class="row">
          {% for sport in sports %}
            <a href="{% url 'sport_app' sport.app_name %}">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="{{sport.logo.url}}" />
                  <div class="caption text-center">
                    <h3>{{sport.name}}</h3>
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
