body {
  background-color: #F4F4F4;
}

.margin-top-1 {
  margin-top: 5px;
}

.margin-top-2 {
  margin-top: 10px;
}

.margin-top-3 {
  margin-top: 18px;
}

.margin-right-2 {
  margin-right: 10px
}

#map {
  height: 100%;
  width: 100%;
}

.text-gray {
  color: #666666;
}

.row-margin-2 {
  margin: 0 10px 0 10px;
}

.row-margin-3 {
  margin: 10px 10px 10px 10px;
}

.vcenter {
    margin-top: 15px;
}

.float-bottom {
  margin-top: 52px;
}

.center-form {
    padding: 25px 25px 25px 25px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.container-form{
  width: 400px;
}


.sponsor-img {
  display: block;
  max-width:35px;
  max-height:35px;
  width: auto;
  height: auto;
}


.navbar-tennis {
  border-bottom: 2px solid #99DD99;
}

.score-text {
  width: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.margin-bottom-2 {
  margin-left: 5px;
  margin-bottom: 10px;
}

.inline-row{
  display: inline;
}
