body {
  background-color: #F4F4F4;
}

.margin-top-1 {
  margin-top: 5px;
}

.margin-top-2 {
  margin-top: 10px;
}

.margin-right-2 {
  margin-right: 10px
}

#map {
  height: 100%;
  width: 100%;
}

.text-gray {
  color: #666666;
}

.row-margin-2 {
  margin: 0 10px 0 10px;
}

.vcenter {
    margin-top: 15px;
}

.float-bottom {
  margin-top: 52px;
}

.center-form {
    padding: 25px 25px 25px 25px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.container-form{
  width: 400px;
}


.sponsor-img {
  display: block;
  max-width:30px;
  max-height:30px;
  width: auto;
  height: auto;
}


.navbar-tennis {
  border-bottom: 2px solid #99DD99;
}
